{% if not posts %}
  <div class="container  col-md-6 mt-5">
    <h2 class="">No posts yet.</h2>
  </div>
{% else %}
    <div class="container col-md-6 mt-3">
        {% for post in posts %}
        <div class="card mb-3 ">
            <div class="card-body ">
                <h5 class="card-title"><a  href="{% url 'profile' username=post.user.username %}">{{ post.user.username }}</a></h5>
                <div id="post-{{ post.id }}">
                    <p class="card-text post-content">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">Posted on: {{ post.created_at }}</small></p>
                    <div>
                        {% if user.is_authenticated and user == post.user %}
                        <button class="edit-button btn btn-secondary mb-2" data-post_id="{{ post.id }}">Edit</button>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <button href="#" id="like-button-{{post.id}}" class="btn btn-primary mb-2 like-button" data-post="{{ post.id }}" type="submit">
                                {% if post.is_liked %}
                                Unlike
                                {% else %}
                                Like
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                    <span id="like-count-{{post.id}}"><i class="bi bi-hand-thumbs-up-fill"></i> {{ post.like_count }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4">
        {% if posts.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}">
                {{ posts.previous_page_number }}
            </a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ posts.number }} <span class="sr-only">(current)</span></span>
        </li>

        {% if posts.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">
                {{ posts.next_page_number }}
            </a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        {% endif %}
        </ul>
    </nav>

{% endif %}
